body {
    margin: 0;
}

.btn {
    margin: auto;
    padding: 10px;
    background-color: lightseagreen;
    color: white;
    border-radius: 5px;
}

.container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.large-4 {
    justify-content: center;
    text-align: left;
}

.find-lat-lon-container {
    margin: auto;
    padding: 20px;
    justify-content: center;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 50%;
        width: 50%;
        margin: auto;
        justify-content: center;
        
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }