body {
    margin: 0;
}

p {
    margin: auto;
    padding: 7px;
    justify-content: center;
    text-align: center;
}

button.btn {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 7px;
    background-color: white;
    color: lightseagreen;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid lightseagreen;
    justify-content: center;
    text-align: center;
    position: relative;
}

button.btn:hover {
    background-color: lightseagreen;
    color: white;
}

.container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.large-4 {
    justify-content: center;
    text-align: center;
}

.find-lat-lon-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    justify-content: center;
}


.top-bar {
    justify-content: center;
    background-color: lightseagreen;
    height: 80px;
    font-size: 28px;
    color: white;
}

.button {
    background-color: white;
    color: lightseagreen;
    padding: 15px;
    text-align: center;
    justify-content: center;
    display: inline-block; 
    font-size: 18px;
    margin: auto;
    border: 2px solid lightseagreen;
    border-radius: 5px;
}

.button:hover {
    background-color: lightseagreen;
    color: white;
}

.button::after {
    background-color: lightseagreen;
}


div#submit-here {
    display: block;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: auto;
    padding: 20px;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 90%;
    width: 90%;
    margin: auto;
    justify-content: center;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#videoDiv {
    margin: 5%;
    justify-content: center;
    text-align: center;
}

.videoContainer {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
}

#iframe1 {
    padding: 40px 40px 40px 40px;
    
}

#iframe2 {
    padding: 40px 40px 40px 40px;
}  


#iframe3 {
    padding: 40px 40px 40px 40px;
}


.vidTitle {
    text-align: center;
    padding: 10px 30px 10px 10px;
    font-weight: bold;
    color:lightseagreen;
}

#description {
    text-align: center;
    padding: 10px 30px 10px 10px;
}

.logo-container {
    display: block;
    justify-content: center;
    text-align: center;
}